<?xml version="1.0" encoding="utf-8" ?>
<alias>
  <add ip="192.168.70.2" alias="sharon" type="Test" />
  <add ip="192.168.204.14" alias="zeus" type="Production" />
  <add ip="192.168.70.91" alias="pandora" type="Test" />
  <add ip="192.168.70.92" alias="luna" type="Production" />
  <add ip="192.168.70.40" alias="netuno" type="Test" />
</alias>