@{
    ViewBag.Title = "Recuperar Acesso";
    Layout = "~/Views/Shared/_LayoutNaoLogado.cshtml";
}

<div class="main">

    <h1>
        <img class="img-responsive img-rounded" src="~/images/Logos/LogoDefault/LogoPagNet.png" alt="User picture" style="width:60%">
        <br />
    </h1>


    <div class="inset" style="margin-top: 5%;">
        <div class="form-group">
            <span>Senha alterado com sucesso </span>
        </div>
    </div>
</div>


@section Scripts
    {
    <script>

        document.getElementsByTagName("form")[0].style.height = "290px"



    </script>
}
