@model PagNet.Application.Models.PaginaInicialVm
@using PagNet.Interface.Helpers
@{
    ViewBag.Title = "PagNet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.acessoAdmin)



}


<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12" style="position: fixed;  bottom: 0; right: 0; width: 30%;">
        <img src="~/images/CifraoSemFundo.png" class="img-responsive">
    </div>
</div>

<style type="text/css">
    <!--
    html {
        overflow-y: hidden;
        overflow-x: hidden;
    }
    -->
</style>


<script src="@Url.Action("GetClassJs", "ConsultasGenericas", new { area = "Generico", id= "Home" , classe = "ScriptsIniciais.js", sid = ViewBag.Sid })"></script>

