<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\PagNet.Interface.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
		  <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
      </environmentVariables>
    </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 2cf339eb-fd55-4c85-ba77-31fbef861369-->