
CREATE PROCEDURE [dbo].[VALIDA_LOGIN_PAGNET] 
     @LOGIN     VARCHAR(100)
    ,@SENHA     VARCHAR(200) 
	,@ERRO      INT OUTPUT
	,@MSG_ERRO  VARCHAR(128) OUTPUT

AS

SET NOCOUNT ON

BEGIN

/*------SCRIPT PARA TESTAR ACESSO -------*/

--DECLARE @LOGIN     VARCHAR(100)
--        ,@SENHA     VARCHAR(200) 
--	    ,@ERRO      INT 
--	    ,@MSG_ERRO  VARCHAR(128) 
                
--        SET @LOGIN = 'andrea@GRAALCARD'
--        SET @SENHA = 'ef797c8118f02dfb649607dd5d3f8c7623048c9c063d532cc95c5ed7a898a64f'

/*------SCRIPT PARA TESTAR ACESSO -------*/

    DECLARE @CONT          INT
	DECLARE @NMUSUARIO     VARCHAR(100)
	DECLARE @CODUSUARIO    INT
    DECLARE @CODEMPRESA    INT
	DECLARE @ADMINISTRADOR CHAR
    DECLARE @NOMOPERAFIL   VARCHAR(30)
    DECLARE @CODOPE        SMALLINT
    DECLARE @BD_AUT        VARCHAR(50)
    DECLARE @BD_NC         VARCHAR(50)
    DECLARE @SERVIDOR      VARCHAR(30)
    DECLARE @SERVIDOR_AUT  VARCHAR(30)

	SET @ERRO     = 0
	SET @MSG_ERRO = ''

	CREATE TABLE #CLAIMS
	(
	   NOME VARCHAR(50)
	  ,VALOR VARCHAR(150)
	);

    SELECT @CONT = 1
	      ,@NMUSUARIO     = USU.NMUSUARIO
          ,@CODUSUARIO    = USU.CODUSUARIO
          ,@CODEMPRESA    = USU.CODEMPRESA
          ,@ADMINISTRADOR = USU.ADMINISTRADOR
          ,@NOMOPERAFIL   = OPE.NOMOPERAFIL
          ,@CODOPE        = OPE.CODOPE
          ,@BD_AUT        = OPE.BD_AUT
          ,@BD_NC         = OPE.BD_NC
          ,@SERVIDOR      = OPE.SERVIDOR
          ,@SERVIDOR_AUT  = OPE.SERVIDOR_AUT
     FROM PAGNET_USUARIO USU
         ,OPERADORA      OPE
    WHERE USU.CODOPE = OPE.CODOPE
      AND LTRIM(RTRIM(USU.Login)) = @LOGIN
      AND LTRIM(RTRIM(USU.SENHA)) = @SENHA
      AND USU.ATIVO               = 'S' 

    IF (@CONT = 1)
	BEGIN
        INSERT INTO #CLAIMS VALUES ('name',           @NMUSUARIO)
        INSERT INTO #CLAIMS VALUES ('cod_usu',        @CODUSUARIO)
        INSERT INTO #CLAIMS VALUES ('login_usu',      @LOGIN)
        INSERT INTO #CLAIMS VALUES ('cod_empresa',    @CODEMPRESA)

		IF (@ADMINISTRADOR IS NOT NULL AND @ADMINISTRADOR = 'S')
		BEGIN
            INSERT INTO #CLAIMS VALUES ('role', 'Administrador')
		END
		ELSE
		BEGIN 
            INSERT INTO #CLAIMS VALUES ('role', 'Usuario')
		END
	END
	ELSE
	BEGIN
        SET @ERRO = 1
		SET @MSG_ERRO = 'USUARIO OU SENHA INVALIDOS'
	END
	
    SELECT * FROM #CLAIMS
	DROP TABLE #CLAIMS

SET NOCOUNT OFF

END

